.contactSegment {
    background-color: var(--Blue2);
    /* min-height: 90vh; */
    height: 88vh;
    padding-top: var(--SegmentTopPadding);

    h1 {
        /* terrible fix? */
        /* padding-top: 20%; */
        /* margin-top: 10%; */
        margin-top: 35%;

        @media (min-width: 1440px) {
            margin-top: 20%;
        }
    }

    h3 {
        margin-top: 5%;
    }

    .linkedinIcon {
        width: 50%;
    }

    @media (min-width: 1024px) {
        padding-top: 10%;
        /* below or both might need deleting */
    }

    @media (min-width: 1440px) {
        padding-top: 5%;
    }
}