/*Always make sure that CSS styles in the 'parent container', i.e., in App.css, do not conflict*/

.stackIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 1%;
    /* width: 90%; */
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    flex-basis: 20%;
    transition: transform 0.2s ease-in-out;
}

.iconContainer p {
    font-size: 15px;
}


.iconContainer:hover {
    transform: scale(0.965);
  }

.iconContainer img {
    width: 27%;
}

.iconContainer p {
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 1252px) {
    .stackIcons {
        flex-direction: row;
        align-items: center;
        /* max-width: 35%; */
    }
    .iconContainer {
        width: 25%;
    }
}

@media (max-width: 530px) {
    .iconContainer {
        font-size: 3px !important;
    }
}