h3 {
    margin-top: 4.5%;
    margin-bottom: 2%;
}

p {
    margin-top: 0.5%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.PortfolioParentDiv img {
    -webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
}

.PortfolioParentDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*to allow imgs to be side by side*/
}

.LocalBuzzContainer,
.PokemonAppContainer,
.WebsiteContainer {
    flex-basis: 36.2%;/*Set width for each container*/
    margin: 0; /*spacing between, if needed*/
}

.LocalBuzzScreenshot,
.WebsiteScreenshot {
    width: 110%; /*These two are wider images*/
    height: auto;
}

.PokemonAppScreenshot {
    width: 100%;
    height: auto;
}