/* SEE App.css FOR h1 CSS*/
h3 {
    margin-top: 7%;
    margin-bottom: 2%;
    width: 100%;
}

p {
    margin-top: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
    /* font-size: 17px; */
}


/* a { 
    color: rgb(161, 230, 235);
} */

/* a:hover {
    color: rgb(0, 4, 255); 
} */

/* a:visited {
    color: rgb(161, 230, 235);
} */

.description {
    width: 93%;
    font-size: 14px;
    padding-bottom: 5%;
}

.PortfolioParentDiv img {
    /*Shadows*/
    -webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
}

.PortfolioParentDiv {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scrolling */
}

.CSharpAzureContainer,
.LocalBuzzContainer,
.PokemonAppContainer,
.WebsiteContainer,
.AWS_Guide_Container {
    flex: 0 0 50%;
    /* each container takes 50% of the available width */
    padding: 2% 4% 0 6%;
    /* spacing between containers */
    box-sizing: border-box;
    /* Include padding in container width */
}

.CSharpAzureScreenshot,
.LocalBuzzScreenshot,
.AWS_GuideScreenshot,
.PokemonAppScreenshot,
.WebsiteScreenshot {
    width: auto;
    height: 270px;
    margin-top: 2%;
    border-radius: 10px;
}

/* .LocalBuzzScreenshot,
.PokemonAppScreenshot {
    cursor: pointer;
} */