h3 {
    margin-top: 7%;
    margin-bottom: 2%;
    width: 70%;
}

p {
    margin-top: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 17px;
}

.description {
    width: 90%;
}

.LocalBuzzContainer {
    margin-right: 40px;
}

.PortfolioParentDiv img { /*Shadows*/
    -webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
}

.PortfolioParentDiv {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.LocalBuzzContainer,
.PokemonAppContainer,
.WebsiteContainer,
.AWS_Guide_Container {
  flex: 0 0 50%; /* each container takes 50% of the available width */
  padding: 2%; /* spacing between containers */
  box-sizing: border-box; /* Include padding in container width */
}

.LocalBuzzScreenshot,
.WebsiteScreenshot,
.AWS_GuideScreenshot {
    width: 100%; /*These two are wider images*/
    height: auto;
}

.WebsiteScreenshot {
    padding: 0;
    height: 66%
}

.PokemonAppScreenshot {
    width: 91.5%;
}

.LocalBuzzScreenshot,
.PokemonAppScreenshot,
.WebsiteScreenshot,
.AWS_GuideScreenshot {
    border-radius: 10px;
}

.LocalBuzzScreenshot,
.PokemonAppScreenshot,
.AWS_GuideScreenshot {
    cursor: pointer;
}

.AWS_Guide_Container {
    margin-left: 40px;
}