@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Merriweather:wght@300&display=swap');

* {
  --NavBarPaddingValue: 20px;
  font-family: 'Merriweather', serif;
  --NavBar_FooterColour: #F1E0C5;
  --Maroon: #c45457;
  --DeepPurple: #38023B;
  --Blue1: #5ca8fe;
  --Blue2: #77b4fa;

  /* to remove white space */
  --SegmentTopPadding: 20%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.aboutSegment,
.portfolioSegment,
.contactSegment {
  scroll-margin-top: 30px;
  /* Match or slightly exceed navbar height */
}


h1 {
  /* font-size: clamp(1.94rem, 4.05vw, 3.24rem); */
  font-size: clamp(1.5rem, 4.05vw, 3.24rem);
}

h2 {
  /* New */
  font-size: clamp(1rem, 2.5vw, 2rem);
}

h3,
li {
  /* font-size: clamp(1.2rem, 2.5vw, 2rem); */
  font-size: clamp(0.8rem, 2.5vw, 2rem);
}

a img {
  transition: transform 0.2s ease-in-out;
}

a:hover img {
  transform: scale(0.95);
}

.TextContainer {
  padding-left: 15%;
  padding-right: 15%;
}

.LinkedinIconContainer {
  display: flex;
  justify-content: flex-start;
  padding-top: 1vh;
}