@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

* {
    font-family:'IM FELL French Canon', sans-serif
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.NavBar {
    background-color: bisque;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 10vh;
  }

.Segment1 {
    background-color: rgb(127, 185, 255);
    display: flex;
    /*justify-content: space-between; /* Spread the content across the container */
    align-items: center;
    height: 70vh; /*the last 30vh could be Segment2? To get that Tesla site feel?*/
  }
  
  .TextContainer {
    padding-left: 5%;
  }
  
  .ImageContainer {
    display: flex;
    justify-content: flex-end; /*Align with right of container*/
    flex-grow: 1; /*Pushes image to right*/
  }

  .AvatarImg {
    width: 30%;
    padding-right: 5%;
  }

  .Segment2 {
    background-color: rgb(127, 185, 255);
    height: 20vh; /*10 + 70 + 20 = the full page*/
  }

  .Segment3 {
    background-color:aquamarine;
    height: 90vh; /*90vh so it mimics the previous page and takes into account the 10vh STICKY NavBar*/
  }