@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

* {
    font-family:'IM FELL French Canon', sans-serif
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.NavBar {
    background-color: bisque;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 1%;
  }

.NavBarButtons {
  display: flex;
  justify-content:space-around;
  padding-bottom: 1%;
}

button {
  background-color: rgb(238, 183, 79);
  border-radius: 10%;
  cursor: pointer;
}

.Segment1 {
    background-color: rgb(127, 185, 255);
    display: flex;
    align-items: center;
    height: 95vh;
  }
  
  .TextContainer {
    padding-left: 15%;
  }
  
  .ImageContainer {
    display: flex;
    justify-content: flex-end; /*Align with right of container*/
    flex-grow: 1; /*Pushes image to right*/
  }

  .AvatarImg {
    width: 30%;
    padding-right: 20%;
  }

  .githubCat {
    width: 30%;
    cursor: pointer;
  }

  .linkedinIcon {
    width: 30%;
    cursor: pointer;
  }

  .Segment2 {
    background-color:aquamarine;
    height: 95vh; /*90vh so it mimics the previous page and takes into account the 10vh STICKY NavBar*/
  }
  
  .Segment2 h1 {
    margin: 0; /* remove the white streak*/
    padding-top: 20%;
  }

  